/* Hero Image Section */
.hero-image {
    position: relative;
    background: url('/static/images/hero-img.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text p {
    font-size: 1.5em;
}

/* Introduction Section */
.intro-section {
    padding: 20px;
    text-align: center;
}

.carousel-section {
    padding: 40px; 
}

.carousel-item img {
    width: 100%;
}

.carousel-caption {
    margin-top: 10px;
    text-align: center;
}

/* Carousel Controls */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Darker background for controls */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Darker background for icons */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container for the gradient backdrop */
.gradient-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Behind all content */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fluid gradient animation */
.fluid-gradient {
    width: 150%;
    height: 150%;
    background: linear-gradient(115deg, #ff7eb3 0%, #ff65a3 25%, #7afcff 50%, #feff9c 75%, #ff508b 100%);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
}

/* Keyframes for gradient animation */
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}