* {
    margin: 0;
    padding: 0;
}

/* Hero Section Styling */
.hero {
    position: relative;
    height: 350px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #0e0b16; /* Dark background color */
    color: #fff; /* Text color */
}

.hero .content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.hero h1 {
    font-size: 3vw;
    font-weight: bolder;
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

.blob {
    position: absolute;
    width: 80vw; /* Full width of the viewport */
    height: auto;
    top: -155%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: pulsate 5s infinite;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.blob svg {
    display: block;
    width: 100%;
    height: auto;
}

@keyframes pulsate {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

.gradient-svg {
    width: 100%;
    height: auto;
}

.gradient-svg path {
    fill: url(#blobGradient);
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% {
        fill: linear-gradient(115deg, #f9c6c9 0%, #f9a6c0 25%, #a2d9ff 50%, #9575cd 75%, #b39ddb 100%);
    }
    50% {
        fill: linear-gradient(115deg, #b39ddb 0%, #9575cd 25%, #a2d9ff 50%, #f9a6c0 75%, #f9c6c9 100%);
    }
    100% {
        fill: linear-gradient(115deg, #f9c6c9 0%, #f9a6c0 25%, #a2d9ff 50%, #9575cd 75%, #b39ddb 100%);
    }
}

/* Style for the show card */
.card {
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text color */
    border: none; /* Remove card border */
    border-radius: 8px; /* Rounded corners */
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px; /* Fixed height for images */
    object-fit: cover; /* Ensure image covers the space */
}

.card .card-title {
    font-weight: bold; /* Bold show title */
}

.container {
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.btn {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
