<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatter</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block title %}{% endblock %}
</head>
<body>

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-custom">
            <a class="navbar-brand text-white" href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="d-inline-block align-top logo">
                <span class="brand-name">Chatter</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav"> <!-- Center items -->
                    <li class="nav-item">
                        <a class="nav-link account-white" href="{{ url_for('main.movies_search') }}">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link account-white" href="{{ url_for('main.shows_search') }}">TV Shows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link account-white" href="{{ url_for('main.music_search') }}">Music</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ml-auto navbar-account"> <!-- Push the Login link to the right -->
                <li class="nav-item">
                    <a class="nav-link account-text" href="{{ url_for('main.account') }}">Account</a>
                </li>
                {% if 'user_id' in session %}
                    <li class="nav-item">
                        <a class="login-button" href="{{ url_for('main.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="login-button" href="{{ url_for('main.login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    
        <!-- Main content -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
    
        <!-- Footer -->
        <footer class="footer text-center">
            <div class="container">
                <a href="{{ url_for('main.movies_search') }}">Movies</a> |
                <a href="{{ url_for('main.shows_search') }}">TV Shows</a> |
                <a href="{{ url_for('main.music_search') }}">Music</a> |
                <a href="{{ url_for('main.account') }}">Account</a> |
                {% if 'user_id' in session %}
                    <a href="{{ url_for('main.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('main.login') }}">Login</a>
                {% endif %}
            </div>
        </footer>
    </div>
    
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>