{% extends "base.html" %}

{% block title %}
    <title>Home - My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <main>
        <div class="hero">
            <div class="blob">
                <svg viewBox="90 70 150 200" xmlns="http://www.w3.org/2000/svg" class="gradient-svg">
                    <defs>
                        <linearGradient id="blobGradient" x1="0%" y1="0%" x2="100%" y2="100%">
                            <stop offset="0%" stop-color="#f9c6c9" /> <!-- Pale Pink -->
                            <stop offset="25%" stop-color="#f9a6c0" /> <!-- Light Pink -->
                            <stop offset="50%" stop-color="#a2d9ff" /> <!-- Light Blue -->
                            <stop offset="75%" stop-color="#9575cd" /> <!-- Medium Purple -->
                            <stop offset="100%" stop-color="#b39ddb" /> <!-- Light Purple -->
                        </linearGradient>
                    </defs>
                    <path fill="url(#blobGradient)" d="M35,-37.2C46.7,-39.7,58.6,-31.3,66.8,-18.7C75.1,-6.1,79.9,10.7,71.3,18.9C62.8,27.1,40.9,26.6,26.8,24.5C12.7,22.3,6.3,18.5,-3.8,23.6C-13.9,28.8,-27.7,43,-33.5,42.5C-39.4,41.9,-37.1,26.6,-44.1,12.6C-51.1,-1.5,-67.2,-14.3,-64.8,-20.9C-62.5,-27.6,-41.6,-28.1,-27.7,-24.9C-13.8,-21.7,-6.9,-14.9,2.4,-18.1C11.6,-21.4,23.3,-34.7,35,-37.2Z" transform="translate(100 100)" />
                </svg>            
            </div>
            <div class="content">
                <div class="text-container">
                    <h1>Welcome to Chatter</h1>
                </div>
                <div class="text-container">
                    <p>Your ultimate destination for discovering, rating, and sharing your thoughts on the latest Movies, TV shows, and Music.<br><br>
                    <p style="text-align: center;"><strong> Discuss and Rate Trending Content!</strong></p>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <!-- Movies Carousel Section -->
    <section class="carousel-section">
        <h2 class ="section-title">Trending Movies</h2>
        <div id="trendingMoviesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(0, movies|length, 6) %}
                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                    <div class="row">
                        {% for movie in movies[i:i+6] %}
                        <div class="col-md-2">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" class="d-block w-100" alt="{{ movie['title'] }}">
                            <p>{{ movie['title'] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#trendingMoviesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#trendingMoviesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <!-- Shows Carousel Section -->
    <section class="carousel-section">
        <h2 class ="section-title">Trending Shows</h2>
        <div id="trendingShowsCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(3) %}
                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                    <div class="row">
                        {% for j in range(6) %}
                        <div class="col-md-2">
                            <img src="{{ shows[i*6 + j]['image'] }}" class="d-block w-100" alt="Show Image">
                            <p class="carousel-caption-below">{{ shows[i*6 + j]['name'] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#trendingShowsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#trendingShowsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <!-- Music Carousel Section -->
    <section class="carousel-section">
        <h2 class ="section-title">Trending Music</h2>
        <div id="trendingMusicCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for i in range(3) %}
                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                    <div class="row">
                        {% for j in range(6) %}
                        <div class="col-md-2">
                            <a href="{{ url_for('main.song_detail', song_id=tracks[i*6 + j]['id']) }}"><span class="media-card-span"></span></a>
                            <img src="{{ tracks[i*6 + j]['image'] }}" class="d-block w-100" alt="Music Image">
                            <p class="carousel-caption-below">{{ tracks[i*6 + j]['name'] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#trendingMusicCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#trendingMusicCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
{% endblock %}
