{% extends "base.html" %}

{% block title %}
    <title>Movies Search - My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movies_search.css') }}">
{% endblock %}

{% block content %}
    <!-- Search Header -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Rate Your Favorite Movie</h1>
        {% if search_query %}
        <h2 class="text-center mb-4">Here are the search results for "{{ search_query }}"</h2>
        {% endif %}
        <!-- Search Form -->
        <form action="{{ url_for('main.movies_search') }}" method="get">
            <div class="input-group mb-4">
                <input type="text" class="form-control form-control-lg" name="q" placeholder="Search for Movies..." aria-label="Search for movies">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Display Movie Covers -->
    <div class="container">
        <div class="row">
            {% for movie in movies %}
            <div class="col-md-3 mb-4">
                <a href="{{ url_for('main.movie', movie_id=movie.id) }}" class="card-link">
                    <div class="card">
                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.release_date }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% else %}
            <p>No movies found.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('static', filename='js/movie_search.js') }}"></script> -->
{% endblock %}