<html>
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Website</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/music_player.css') }}">
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </header>
    <body>
        <h1>music home after logging in</h1> <br/>
        <h3>currently playing song:</h3>
        <div>
            
            <!--<a href=""><span></span></a> -->
            <img src="{{ playback_status['image'] if playback_status else '' }}" id="player-image" alt="no currently playing song. please play a song on spotify player">
            
            <p id="player-name">{{playback_status['name']}}</p>
            <p id="timestamp">{{playback_status['progress_ms']}} / {{playback_status['duration_ms']}}</p> -->
            <div class="progress mt-3">
                <div class="progress-bar" id="progressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="30"></div>
            </div>
            <button id="play-pause">play</button>

            <p>{{playback_status}}</p>
            <a href="{{ url_for('main.music_search') }}"><button>go back</button></a>
            <ul id="comments-list"></ul>
            
            
            

            <div id="lol"></div>

            <script src="{{ url_for('static', filename='js/music_player.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        </div>
        

        

    </body>
</html>