{% extends "base.html" %}

{% block title %}
    <title>Music Search - My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/music_search.css') }}">
{% endblock %}

{% block content %}
    <!-- Search Header -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Rate Your Favorite Music</h1>
        
        <!-- Search Form -->
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="input-group mb-4">
                {{ form.name_search(class="form-control form-control-lg") }}
                <div class="input-group-append">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </div>
        </form>
    </div>

    <!-- Display Song Covers (Placeholder) -->
    <div class="container">
        <div class="row">
            {% for song in results %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <a href="{{ url_for('main.song_detail', song_id=song['id']) }}"><span></span></a>
                    <img src="{{ song['image'] }}" class="card-img-top" alt="{{ song['name'] }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ song['name'] }}</h5>
                        <p class="card-text">{{ song['artists'] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('static', filename='js/music-search.js') }}"></script> -->
{% endblock %}