{% extends "base.html" %}

{% block title %}
    <title>TV Shows Search - My Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shows_search.css') }}">
{% endblock %}

{% block content %}
    <!-- Search Header -->
    <div class="container mt-5">
        <h1 class="text-center mb-4">Rate Your Favorite Show</h1>

        <!-- Search Form -->
        <form action="{{ url_for('main.shows_search') }}" method="get">
            <div class="input-group mb-4">
                <input type="text" class="form-control form-control-lg" name="q" placeholder="Search for TV Shows..." aria-label="Search for TV shows">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-lg" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
<!--        <div class="container mt-5">-->
<!--            <h1 class="text-center mb-4">Rate Your Favorite Show</h1>-->

<!--            &lt;!&ndash; Search Form &ndash;&gt;-->
<!--            <form action="" method="POST">-->
<!--                {{ form.hidden_tag() }}-->
<!--                <div class="input-group mb-4">-->
<!--                    {{ form.name_search(class="form-control form-control-lg") }}-->
<!--                    <div class="input-group-append">-->
<!--                        {{ form.submit(class="btn btn-primary btn-lg") }}-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->

    <!-- Display Show Covers (Placeholder) -->
    <div class="container">
        <div class="row">
            {% for show in results %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="{{ show.cover_image }}" class="card-img-top" alt="{{ show.title }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ show.title }}</h5>
                        <p class="card-text">{{ show.artist }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('static', filename='js/show-search.js') }}"></script> -->
{% endblock %}