{% extends "base.html" %}

{% block title %}
<title>{{ user.username }} - Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 style="padding-bottom: 20px;">{{ user.username }}</h1>
        </div>

        <!-- Ratings Accordion -->
        <div class="col-12 mt-4">
            <div id="accordionRatings">
                <div class="card">
                    <div class="card-header" id="headingRatings">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseRatings" aria-expanded="true" aria-controls="collapseRatings">
                                <h4>User Ratings</h4>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseRatings" class="collapse show" aria-labelledby="headingRatings" data-parent="#accordionRatings">
                        <div class="card-body">
                            <!-- Sorting and Filtering Controls -->
                            <div class="mb-3">
                                <label for="ratingSort" class="mr-2">Sort by:</label>
                                <select id="ratingSort" class="form-control d-inline-block w-auto">
                                    <option value="a-z">A-Z</option>
                                    <option value="z-a">Z-A</option>
                                </select>
                                <label for="ratingFilter" class="ml-4 mr-2">Filter by:</label>
                                <select id="ratingFilter" class="form-control d-inline-block w-auto">
                                    <option value="all">All</option>
                                    <option value="movie">Movie</option>
                                    <option value="show">TV Show</option>
                                    <option value="music">Music</option>
                                </select>
                            </div>
                            <ul id="ratingsList">
                                {% for media_title, seasons in ratings_by_media.items() %}
                                    <li class="rating-item" data-type="{{ media_type(media_title) }}">
                                        <h4>
                                            {{ media_title }}
                                        </h4>
                                        <ul class="ratings-list">
                                            {% for season_episode, ratings in seasons.items() %}
                                                {% if season_episode %}
                                                    <li>
                                                        <ul class="star-ratings">
                                                            {% for rating in ratings %}
                                                                <li class="rating">
                                                                    {% for i in range(5) %}
                                                                        <i class="fa fa-star{% if i < rating %} checked{% endif %}"></i>
                                                                    {% endfor %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <ul class="star-ratings">
                                                            {% for rating in ratings %}
                                                                <li class="rating">
                                                                    {% for i in range(5) %}
                                                                        <span class="fa fa-star{% if i < rating %} checked{% endif %}"></span>
                                                                    {% endfor %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comments Accordion -->
        <div class="col-12 mt-4">
            <div id="accordionComments">
                <div class="card">
                    <div class="card-header" id="headingComments">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseComments" aria-expanded="true" aria-controls="collapseComments">
                                <h4>User Comments</h4>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseComments" class="collapse" aria-labelledby="headingComments" data-parent="#accordionComments">
                        <div class="card-body">
                            <!-- Sorting and Filtering Controls -->
                            <div class="mb-3">
                                <label for="commentSort" class="mr-2">Sort by:</label>
                                <select id="commentSort" class="form-control d-inline-block w-auto">
                                    <option value="a-z">A-Z</option>
                                    <option value="z-a">Z-A</option>
                                </select>
                                <label for="commentFilter" class="ml-4 mr-2">Filter by:</label>
                                <select id="commentFilter" class="form-control d-inline-block w-auto">
                                    <option value="all">All</option>
                                    <option value="movie">Movie</option>
                                    <option value="show">TV Show</option>
                                    <option value="music">Music</option>
                                </select>
                            </div>
                            <ul id="commentsList">
                                {% for media_title, comments in comments_by_media.items() %}
                                    <li class="comment-item" data-type="{{ media_type(media_title) }}">
                                        <h4>
                                            {{ media_title }}
                                        </h4>
                                        <ul class="comments-list">
                                            {% for comment in comments %}
                                                <li>
                                                    <strong>
                                                        {% if comment.season_number %}
                                                            Season {{ comment.season_number }}
                                                        {% endif %}
                                                        {% if comment.episode_number %}
                                                            Episode {{ comment.episode_number }}: {{ comment.episode_title }}
                                                        {% endif %}
                                                    </strong>

                                                    <ul>
                                                        <li><strong>({{ comment.timestamp | timestamp_to_hms }})</strong>: {{ comment.text }}</li>
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/user_profile.js') }}" defer></script>
{% endblock %}
